{% extends "admin_base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
{% endblock head %}

{% block page %}

<h1>
    Leads
</h1>
<div class="row justify-content-start">
<div class="col-6">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">email</th>
        <th scope="col">checkbox</th>
      </tr>
    </thead>
    <tbody>
        {% for i in leads %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>box</td>
      </tr>
      {% endfor %}
</tbody></table>

</div>
{% endblock page %}

