{% extends "admin_base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
{% endblock head %}

{% block page %}




<div class="row">

    <div class="col">
        <a href="" class="btn btn-primary" style="width: 48%; height:100px;padding:20px; font-size:x-large;">Student Management</a>
        <a href="" class="btn btn-primary" style="width: 48%; height:100px;padding:20px; font-size:x-large;">Open Leads</a>
        </div></div><div class="row" style="margin-top: 100px
        ;""> <div class="col">
        <a href="ad/course_manage" class="btn btn-primary" style="width: 48%; height:100px;padding:20px; font-size:x-large;">Manage Course</a>
        <a href="" class="btn btn-primary" style="width: 48%; height:100px;padding:20px; font-size:x-large;">Course Content</a>
    </div></div>
    <div class="row" style="margin-top: 100px
        ;""> <div class="col">
        <a href="" class="btn btn-primary" style="width: 48%; height:100px;padding:20px; font-size:x-large;">Manage Clients</a>
        <a href="" class="btn btn-primary" style="width: 48%; height:100px;padding:20px; font-size:x-large;">Stocks Adviced</a>
    </div></div>
    
{% endblock page %}

