{% load static%}
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<footer class="bg-dark text-light py-3">
    <div class="container-fluid text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Future Traders</h5>
            </div>
            <div class="col ">
                <h5 class="text-warning">Important Links </h5>
                <p>Home</p>
                <p>Contact Us</p>
                <p>FAQ</p>
            </div>
            <div class="col">
                <h5 class="text-warning">Other Services</h5>
                <p>Investments</p>
                <p>Technology</p>
            </div>
        

        <p style="text-align: center;">&copy; {{ year }} Developed by Ritik Sinha</p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>