{% extends "base.html" %}
{% load static %}
{% block title%} 
Home
{%endblock%}
{% block head%}<!-- ANY REMAINING LINKS CAN BE ADDED HERE-->
{% include "header.html" %}
{% endblock%}
{%block page%}
<script type="text/javascript" src="{% static 'js/custom.js'%}"></script>
<!-- modal starts  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             <a href="/web_register"> <img src="{% static 'images/Popup.png' %}" class="img-fluid" alt="Popup Image"></a>
          </div>
      </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#myModal').modal('show');
    });
</script>
<!-- modal ends  -->
<div class="hero_area">

  <div class="hero_bg_box">
    <div class="bg_img_box">
      <img src="static/images/FT_title.png" alt="">
    </div>
  </div>

  <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
            FT
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ">
            <li class="nav-item active">
              <a class="btn nav_btn" href="/" style="color: black;"><i class="fa-solid fa-house"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a onclick="scrollToSection('aboutus')" style="margin-left: 10px; margin: right 10px;" class=" btn nav_btn"><i class="fa-solid fa-circle-info"></i>  About Us</a>
            </li>
            <li class="nav-item">
              <a onclick="scrollToSection('courses')" style="margin-left: 10px; margin: right 10px;" class="btn nav_btn"><i class="fa-solid fa-layer-group"></i>  Course</a>
            </li>
            <li class="nav-item">
              <a href="login" target="_blank" style="margin-left: 10px; margin: right 10px;" class="btn btn-warning" aria-disabled="true"><i class="fa-solid fa-user"></i>  Student Login</a>
            </li>
          
            <form class="form-inline">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section " style="margin-top: 373px;">
    <div class="detail-box" style="margin-left: 107px;">
      <h1>
        Start <br>
        Now
      </h1>
      <p>
        
        with India's Best Trading Academy.
      </p>
    <div class="btn-box">
      <a href="/course/4" class="btn btn-primary" style="color: aliceblue; width: 210px;">
        Register Now
      </a>
    </div>
  
</section>
  <!-- end slider section -->
</div>
<!-- service section -->

<section class="service_section layout_padding">
  <div class="service_container">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2 id="courses">
          Our <span>Services</span>
        </h2>
        <p>
          We Provide the best mentorship and huge variety of topics that will be covered by us in our Course.
        </p>
      </div>
      <div class="row">
        <div class="col-md-4 ">
          <div class="box ">
            <div class="img-box">
              <img src="static/images/s1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Basics
              </h5>
              <p>
                What is Stock Market,SENSEX,NIFTY,STOCK Broker, Broker Work and the Rules and Regulations by SEBI.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="box ">
            <div class="img-box">
              <img src="static/images/s2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Technical Aspects
              </h5>
              <p>
               Time Frame, Candles, Trend Analysis, Important Indicator
                ,India Vix and Chart Settings realated Technical details.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="box ">
            <div class="img-box">
              <img src="static/images/s3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Future & Options
              </h5>
              <p>
                What is derivative Market? About FUTURE AND OPTIONS,OPTIONS Greek and their Fundamental Analysis.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="course/4">
          More Details
        </a>
      </div>
    </div>
  </div>
</section>

<!-- end service section -->


<!-- about section -->

<section class="about_section layout_padding">
  <div class="container  ">
    <div class="heading_container heading_center">
      <h2 id="aboutus">
        About <span>Us</span>
      </h2>
      <p>
        "Future Traders Academy: Your Gateway to Success in the Indian Stock Market"
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box" style="width: 80%;">
          <img src="static/images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <h3>
           We are Future Traders
          </h3>
          <p>
            At Future Traders Academy, we're dedicated to empowering individuals across India with the knowledge and skills needed to navigate the complex world of the stock market. Our comprehensive courses, expert guidance, and real-world insights ensure that you're well-prepared to make informed investment decisions and secure your financial future.  
          </p>
          <p>
            Whether you're a beginner or an experienced trader, our mission is to help you thrive in the dynamic and ever-evolving Indian stock market landscape.Join us on your journey to financial success, and let's shape a prosperous future together.
          </p>
          <!-- <a href="#">
            Read More
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

<!-- why section -->

<section class="why_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Why Choose <span>Us</span>
      </h2>
    </div>
    <div class="why_container">
      <div class="box">
        <div class="img-box">
          <img src="static/images/w1.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Beginner Friendly
          </h5>
          <p>
            Aspiring stock market beginners find a nurturing home at our institution. We offer a rich and in-depth learning experience, equipping students with the knowledge and skills needed for successful stock market navigation.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="static/images/w2.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Expert Mentors
          </h5>
          <p>
            Our expert instructors provide comprehensive insights, empowering novices to embark on their investment journey with confidence and competence.At our institution, we foster a supportive learning environment, with personalized guidance and practical experience, ensuring beginners excel in the complexities of the stock market.
          </p>
        </div>
      </div>
      
    </div>
  </div>
</section>

<!-- end why section -->

<!-- team section -->
<section class="team_section layout_padding">
  <div class="container-fluid">
    <div class="heading_container heading_center">
      <h2 class="">
        Our <span> Team</span>
      </h2>
    </div>

    <div class="team_container">
      <div class="row">
        <div class="col-lg-4 col-sm-4">
          <div class="box ">
            <div class="img-box">
              <img src="static/images/team-1.jpg" class="img1" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Raja Sinha
              </h5>
              <p>
                Director
              </p>
              <p>
                MBA in Finance
              </p>
              <p>
                6 yrs Experience in Stock Market
              </p>
            </div>
            <div class="social_box">
              <a href="#">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="box ">
            <div class="img-box">
              <img src="static/images/team-3.jpg" class="img1" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Jay Ratnakar
              </h5>
              <p>
                Mentor
              </p>
              <p>
                4 yrs Experience in Stock Market
              </p>
              <p>
                F/O Segment Expert
              </p>
            </div>
            <div class="social_box">
              <a href="#">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="box ">
            <div class="img-box">
              <img src="static/images/team-2.jpg" class="img1" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Pratik Markam
              </h5>
              <p>
                Mentor
              </p>
              <p>
                7 yrs Experience in Stock Market
              </p>
              <p>
               Intraday Expert
              </p>
            </div>
            <div class="social_box">
              <a href="#">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end team section -->


<!-- client section -->

<section class="client_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center psudo_white_primary mb_45">
      <h2>
        What says our <span>Customers</span>
      </h2>
    </div>
    <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="6000">
      <div class="carousel-inner">
        
          <div class="carousel-item active"><div class="row">
        <div class="col-6">
        <div class="item " style="width: 30rem;">
          <div class="box">
            <div class="img-box">
              <img src="static/images/client1.jpg" alt="" class="box-img">
            </div>
            <div class="detail-box">
              <div class="client_id">
                <div class="client_info">
                  <h6>
                    Ajay
                  </h6>
                  <p>
                    Raipur
                  </p>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                The institute provides a well-structured curriculum, making stock market learning accessible. The instructors are fantastic, and their expertise has helped me gain confidence.</p>
            </div>
          </div>
        </div></div>
        <div class="col-6">
        <div class="item" style="width: 30rem;">
          <div class="box">
            <div class="img-box">
              <img src="static/images/client2.jpg" alt="" class="box-img">
            </div>
            <div class="detail-box">
              <div class="client_id">
                <div class="client_info">
                  <h6>
                    Rashmi
                  </h6>
                  <p>
                    Raipur
                  </p>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                I appreciate the hands-on experience and personalized guidance. The institute's commitment to our success in stock trading sets it apart. Highly recommended! </p>
            </div>
          </div>
        </div>
      </div></div></div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-6">
        <div class="item" style="width: 30rem;">
          <div class="box">
            <div class="img-box">
              <img src="static/images/client1.jpg" alt="" class="box-img">
            </div>
            <div class="detail-box">
              <div class="client_id">
                <div class="client_info">
                  <h6>
                    Rahul
                  </h6>
                  <p>
                    Durg
                  </p>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                The institute's approach to stock market education is outstanding. Their detailed insights and real-world examples have been invaluable in shaping my trading journey. I couldn't have asked for a better learning experience.</p>
            </div>
          </div>
        </div></div>
        <div class="col-6">
        <div class="item" style="width: 30rem;">
          <div class="box">
            <div class="img-box">
              <img src="static/images/client2.jpg" alt="" class="box-img">
            </div>
            <div class="detail-box">
              <div class="client_id">
                <div class="client_info">
                  <h6>
                    Anamika
                  </h6>
                  <p>
                    Bhilai
                  </p>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                I'm amazed at the quality of education provided here. The instructors are not only knowledgeable but also incredibly patient. I feel well-prepared to tackle the stock market confidently thanks to this institute. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div></div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button></div></div>
</section>

{%endblock%}